@media (min-width:1140px) {
    .Abslute-card {
        position: absolute;
        left: 0;
        top: 11%;
    }
    .lg_pos_Abslute {
        position: absolute;
        top: 26%;
    }
}

.up_link {
    float: right;
    top: 85%;
    z-index: 4000;
}

.setting_class {
    top: 40%;
    z-index: 4000;
}

.white-font {
    color: white;
}

.white_bg {
    background-color: white;
}

.ligt-gray {
    background-color: rgb(243, 240, 240);
}

.bg-darkgray {
    background: rgb(48, 47, 47);
}


/* main header */

.position-sticky.top-0 {
    background-color: white;
}

.navbar.position-sticky {
    z-index: 4000;
    background-color: white;
}

.dropdown-toggle::after {
    display: none !important;
}

.show-li-ul:hover .top_3 {
    top: -3%;
}

.show-li-ul:hover .top_1 {
    top: -1.5%;
}

.show-li-ul:hover .show-ul {
    right: 100%;
    background: white;
    display: block;
    animation: fadeInLeft;
    animation-duration: 1s;
}

.drop-down-parent:hover .dropdown-menu-parent {
    display: block;
    animation: fadeInLeft;
    animation-duration: 1s;
}

tr,
td {
    border-style: none;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(51, 51, 240);
}

.dropdown-item:hover {
    color: rgb(51, 51, 240);
    background-color: transparent;
}


/* carousel section */

.carousel-item img {
    height: 500px;
}

.card-group.position-absolute {
    background-color: white;
    box-sizing: border-box;
}

.carousel-indicators {
    flex-direction: column;
    right: 0;
    bottom: 12rem;
    left: auto;
    margin: 0;
    text-align: center;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    opacity: 100;
    background-color: rgb(255, 255, 255);
}

.carousel-indicators [data-bs-target].active {
    border: 1px solid gray;
    background-color: black;
}

.carousel-caption {
    right: 10%;
    bottom: 2rem;
    left: 10%;
}

.carousel-caption button {
    height: 70px;
}


/* //about us hover */

.card_hover:hover .blue_hover {
    color: rgb(51, 51, 240);
}


/* card-group-bg-fixed-img */

.bd-icone {
    width: 80px;
    height: 80px;
    line-height: 2;
}

.container.img-cont {
    height: 100%;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: #000000bf
}

.bg-img {
    background-image: url(../images/service-bg.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
    color: white;
    text-align: center;
}

.card-abslute {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    opacity: 0;
    transition: 0.3s;
}

.parent_card_fadeout:hover .card-abslute {
    top: 0;
    opacity: 1;
}


/* our_Work */

.nav-link {
    color: #000000;
}

.nav-tabs .nav-link.active {
    color: #1c7cdb;
}

.nav-tabs .nav-link {
    border: 0px solid transparent;
}

.flipping_card {
    top: 75%;
    left: 16%;
    background-color: #006cffb5;
    transform: perspective(600px) rotateY(180deg);
    backface-visibility: hidden;
    transition: transform 0.3s linear 0s;
}

.parent_card {
    transition: 0.3s;
}

.parent_card:hover .flipping_card {
    transform: perspective(600px) rotateY(0deg);
}

.parent_card:hover {
    box-shadow: 0 4px 8px 0 rgba(133, 130, 130, 0.6), 0 6px 20px 0 rgba(133, 130, 130, 0.6);
}


/*Our_Creative_Team*/

.img-shadw {
    filter: drop-shadow(5px 0px 5px #222);
}

.fadeout_ul {
    position: absolute;
    top: 79%;
    z-index: 1;
    opacity: 0;
    transition: 0.5s;
}

.card_ul_fadeout {
    position: absolute;
    top: 78.5%;
    left: 0;
    z-index: 1;
    transition: 0.3s;
}

.border-sty {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-width: 3px;
}

.border-sty:hover {
    border-width: 0px;
}

.border-sty2 {
    border-top-style: solid;
    border-top-color: black;
    border-width: 3px;
    transition: 0.1s;
}

.col_card_fadeout:hover .card_ul_fadeout {
    top: 40%;
    bottom: 0;
    opacity: 1;
}

.col_card_fadeout:hover .border-sty2 {
    border-width: 0px;
}

.card_ul_fadeout:hover .fadeout_ul {
    top: 80%;
    opacity: 1;
    bottom: 0;
}


/* Testimonial */

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}


/* card_latest_bloge */

.card-img-top,
.list-icon,
.progress-bar,
h5,
h6 i,
.small_li {
    transition: 0.5s;
}

.list-icon {
    background-color: black;
}

.progress-bar {
    width: 25%;
}

.card_latest_bloge:hover .card-img-top {
    transform: rotate(-5deg) scale(1.1);
}

.card_latest_bloge:hover .list-icon {
    background-color: rgb(51, 51, 240);
}

.card_latest_bloge:hover .progress-bar {
    width: 100%;
}

.card_latest_bloge h5:hover,
.card_latest_bloge .small_li:hover {
    color: rgb(51, 51, 240);
}

.card_latest_bloge h6:hover .i_arrow {
    padding-left: 10px;
}

.phone {
    color: rgba(0, 0, 255, 0.411);
    rotate: 40deg;
}

.bg-darkgray .btn-light:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(51, 51, 240);
    border-color: rgb(51, 51, 240);
}

.muted_hover:hover {
    color: #6c757d !important;
    transition: 0.3s;
}


/* footer */

.light_top_shadow {
    box-shadow: 0 10px 20px rgb(0, 0, 0);
}

.footer_img {
    height: 100px;
}